* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow-x: wrap;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: #f7f7f7dd;
}

li {
    color: #f7f7f7dd;
}

.header img {
    max-height: 275px;
    max-width: 250px;
    margin: auto;
    display: block;
}

.header {
    text-align: center;
    background-color: #393E46;
    color: #f7f7f7dd;
    padding: 10px 0;
    width: 100%;
    margin: 0px;
}

.main {
    background-color: #5C636E;
    padding: 10px;
    margin: 0px;
}

.footer {
    background-color: #393E46;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

a {
    color: #f7f7f7dd;
}

a:hover {
    color: white;
}